<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn">
  <targets>
    <target xsi:type="File"
            name="file"
            fileName="logs/hrce.log"
            archiveFileName="logs/archive/hrce.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="14"
            concurrentWrites="true"
            keepFileOpen="false">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="timestamp" layout="${date:universalTime=true:format=o}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=ToString}" />
        <attribute name="eventId" layout="${event-properties:EventId_Id}" />
        <attribute name="eventName" layout="${event-properties:EventId_Name}" />
        <attribute name="requestId" layout="${aspnet-request-id}" />
        <attribute name="traceId" layout="${activity:property=TraceId}" />
        <attribute name="spanId" layout="${activity:property=SpanId}" />
        <attribute name="path" layout="${aspnet-request-url}" />
      </layout>
    </target>
    <target xsi:type="Console" name="console" layout="${longdate}|${level}|${logger}|${message} ${exception:format=ToString}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file,console" />
  </rules>
</nlog>
