<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/sultanaalyami/index.json" />
    <add key="local" value="packages" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Newtonsoft.Json" />
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="Newtonsoft.*" />
      <package pattern="Humanizer.*" />
      <package pattern="Npgsql.*" />
      <package pattern="Swashbuckle.*" />
      <package pattern="Serilog.*" />
      <package pattern="Azure.*" />
      <package pattern="Grpc.*" />
      <package pattern="Google.*" />
      <package pattern="IdentityModel.*" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="local">
      <package pattern="SvelteHybrid.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
